<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.patpat.mapper.MemberMapper">

	<resultMap type="kr.patpat.entity.Member" id="member">
		<result property="mbIdx" column="mb_idx"/>
		<result property="mbNick" column="mb_nick"/>
		<result property="mbEmail" column="mb_email"/>
		<result property="mbPhone" column="mb_phone"/>
		<result property="mbProfile" column="mb_profile"/>
		<result property="mbAlarm" column="mb_alarm"/>
		<result property="mbJoinAt" column="mb_join_at"/>
		<result property="mbUpdateAt" column="mb_update_at"/>
		<result property="adminYn" column="admin_yn"/>
	</resultMap>
	
	<resultMap type="kr.patpat.entity.Pet" id="pet">
		<result property="petIdx" column="pet_idx"/>
		<result property="petName" column="pet_name"/>
		<result property="petAdoptionAt" column="pet_adoption_at"/>
		<result property="petPhoto" column="pet_photo"/>
		<result property="mbIdx" column="mb_idx"/>
		<result property="petGender" column="pet_gender"/>
		<result property="petPhotoPath" column="pet_photo_path"/>
	</resultMap>

	<insert id="join" parameterType="java.util.HashMap">
		insert into t_member (mb_nick, mb_email, mb_phone, mb_profile, mb_alarm, mb_join_at, mb_update_at, admin_yn) 
		values (#{nickname}, #{email}, #{phonenumeber}, #{profileImg}, '00:00', NOW(), NOW(), 'N');
	</insert>
   
	<select id="selectMember" parameterType="java.util.HashMap" resultMap="member">
		select * from t_member where mb_email=#{email}
	</select>
	
	<select id="selectUpdateMember" parameterType="String" resultMap="member">
		select * from t_member where mb_idx=#{mb_idx}
	</select>
	
	<select id="selectPet" parameterType="String" resultMap="pet">
		select * from t_pet where mb_idx=#{mbIdx}
	</select>
   
	<insert id="joinPet" parameterType="kr.patpat.entity.Member">
		insert into t_pet(pet_name, pet_adoption_at, pet_photo, mb_idx, pet_gender, pet_photo_path) 
		values('pet', now(), testcat.jpg, #{mbIdx}, 'M', 'C:\Users\SMHRD\git\Fillna\src\main\webapp\resources\photo\testcat.jpg')
	</insert>
	
	<update id="setAlarm" parameterType="java.util.HashMap">
		update t_member set mb_alarm=#{mb_alarm} where mb_idx=#{mb_idx}
	</update>
   
	<update id="setPet" parameterType="kr.patpat.entity.Pet">
		update t_pet set pet_name=#{petName},
		pet_adoption_at=#{petAdoptionAt},
		pet_photo=#{petPhoto},
		pet_gender=#{petGender},
		pet_photo_path=#{petPhotoPath}
		where mb_idx=#{mbIdx}
	</update>
	
</mapper>