<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.patpat.mapper.MemoMapper">

	<resultMap type="kr.patpat.entity.Memo" id="memo">
		<result property="memoIdx" column="memo_idx"/>
		<result property="mbIdx" column="mb_idx"/>
		<result property="categoryIdx" column="category_idx"/>
		<result property="memoContent" column="memo_content"/>
		<result property="memoAt" column="memo_at"/>
		<result property="memoUpdateAt" column="memo_update_at"/>
		<result property="memoPhotoName" column="memo_photo_name"/>
		<result property="memoPhotoPath" column="memo_photo_path"/>
	</resultMap>

	<select id="showMemo" parameterType="String" resultMap="memo">
		select * from t_memo where memo_idx=#{memoIdx}
	</select>
	
	<update id="updateMemo" parameterType="kr.patpat.entity.Memo">
		update t_memo set
		category_idx=#{categoryIdx},
		memo_content=#{memoContent},
		memo_update_at=now(),
		memo_photo_name=#{memoPhotoName},
		memo_photo_path=#{memoPhotoPath}
		where memo_idx=#{memoIdx}
	</update>
	
	<insert id="insertMemo" parameterType="kr.patpat.entity.Memo">
		insert into t_memo(mb_idx, category_idx, memo_content, memo_at, memo_update_at, memo_photo_name, memo_photo_path)
		values(#{mbIdx}, #{categoryIdx}, #{memoContent}, now(), now(), #{memoPhotoName}, #{memoPhotoPath})
	</insert>
	
	<delete id="deleteMemo" parameterType="String">
		delete from t_memo where memo_idx=#{idx}
	</delete>
	

</mapper>